
body {
    font-family: Arial, sans-serif;
    background-color: white;
}


h1 {
    color: blue;
    background-color: dodgerblue;
    padding: 10px;
}
.description {
    color: purple;
}


.highlight {
    background-color: yellow;
    color: orange;
    padding: 5px;
}

.plain {
    background-color: lightgreen;
    color: black;
    padding: 5px;
}
